* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: monospace;
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 1;
}

nav ul {
  display: flex;
  list-style: none;
  width: 100%;
}

nav li a {
  text-decoration: none;
  color: #000000;
  font-size: 1.3rem;
  font-weight: 900;
}

header {
  margin-top: 60px;
  height: auto;
  min-height: 300px;
  background-color: #2b2c2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

header h1 {
  font-size: 4rem;
  margin: 20px;
}

header p {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media screen and (max-width: 770px) {
  header h1 {
    margin: 40px;
  }
}

@media screen and (max-width: 770px) {
  header p {
    max-width: 70%;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  margin-top: 30px;
}

.about-section p {
  width: 50%;
  font-size: 1.2rem;
  margin: 20px;
}

@media screen and (max-width: 770px) {
  .about-section {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .about-section p {
    width: 70%;
  }
}

.links-section {
  display: block;
  align-items: center;
  height: fit-content;
  padding-bottom: 100px;
  text-align: center;
}

.links-section h2 {
  font-size: 2rem;
  padding-bottom: 30px;
  margin-top: 10;
}

.links-section li {
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  line-height: 2rem;
}

/* Blog boxes */

.blogs-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  min-height: 500px;
  background-color: #2b2c2e;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  column-gap: 20px;
  row-gap: 20px;
}
.blog-boxes {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  background-color: #ffffff;
  display: block;
  margin: 5px;
}
