@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}

/*  TOP NAVIGATION BAR FIXED TO TOP */

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 1;
}

nav ul {
  display: flex;
  list-style: none;
  width: 100%;
}

nav li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 600;
}

/* added content area and main from articles css - need to rename. Content area is container holding main and asisde for blogs, and main for homepage*/

.content-area {
  display: flex;
  margin-top: 60px;
  width: 100%;
}
/*  LEFT SIDE ON BLOG ARTICLES */

main {
  flex: 3;
  width: 90%;
}

/* HEADER SECTION*/

header {
  height: auto;
  min-height: 300px;
  background-color: #486192;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 5px 50px 50px 5px;
}

/*  UPDATE MAIN HEADER MARGIN BELOW NAV W/OUT IMPACTING BLOGS */
#index-header {
  margin-top: 60px;
}

header h1 {
  font-size: 4rem;
  margin: 20px;
}

header h2 {
  font-size: 2rem;
  margin: 20px;
}

header h3 {
  font-size: 1rem;
  line-height: 2rem;
  margin: 20px;
}

/*  MAIN CONTENT */

.article-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: fit-content;
  margin-top: 30px;
  margin-bottom: 50px;
}

.article-content h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  width: 70%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.article-content h3 {
  font-size: 1.8rem;
  margin: 20px;
  padding-top: 10px;
  color: #232222;
  text-align: center;
}

.article-content p {
  width: 80%;
  font-size: 1.2rem;
  margin: 10px;
  line-height: 2rem;
}

/*  UPDATE MAIN P WIDTH W/OUT IMPACTING BLOGS */
#index-main-paragraph {
  width: 50%;
}

/* IMAGES */

img {
  margin: 20px;
  max-width: 50%;
  min-width: 50%;
  height: auto;
  border-radius: 10px;
}

/*  FOR LINK TO OTHER BLOGS AT BOTTOM OF PAGE */

.links-section {
  display: block;
  align-items: center;
  height: fit-content;
  padding-bottom: 100px;
  text-align: center;
}

.links-section h2 {
  font-size: 2rem;
  padding-bottom: 30px;
  margin-top: 10;
}

.links-section li {
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #0c56ab;
}

.links-section ul li a {
  text-decoration: none;
  color: #0c56ab;
}

.links-section ul li a:hover {
  color: #002c5e;
  font-weight: 600;
}

/* Working CSS for boxes on homepage*/

.all-links-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  justify-content: center;
  margin-bottom: 50px;
}

.all-links-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  flex: 0 0 calc(33.333% - 60px);
  background-color: #486192;
  color: white;
  margin: 10px;
  border-radius: 15px;
  text-align: center;
  font-size: 2rem;
}

.all-links-box:hover {
  background-color: #6f8db3;
}

.all-links-box a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

/* ASIDE SECTION FOR OTHER LINKS. NOT SHOWN ON MOBILE */

aside {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  line-height: 2rem;
  margin-top: 0px;
  border-radius: 50px 5px 5px 50px;
}

aside h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

aside ul li {
  margin-right: 20px;
  list-style: none;
}

aside ul li a {
  text-decoration: none;
  color: #0c56ab;
  font-weight: 400;
}

aside ul li a:hover {
  text-decoration: none;
  color: #0c56ab;
  font-weight: 700;
}

/* FOOTER */

footer {
  background-color: #486192;
  color: white;
  text-align: center;
  padding: 30px 0;
}

/* SMALL SCREENS STYLING */

@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
  main {
    width: 100%;
  }
  .article-content {
    width: 100%;
  }
  .article-content p {
    width: 70%;
  }
  header {
    border-radius: 5px 5px 10px 10px;
  }
  header h1 {
    margin: 20px;
  }
  header h2 {
    font-weight: 500;
  }
  #index-main-paragraph {
    width: 80%;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  #index-header h1 {
    width: 90%;
  }
  #index-header h2 {
    font-size: 1.4rem;
    margin-top: -10px;
    font-weight: 500;
  }
  .all-links-box {
    flex: 0 0 60%;
    margin: 10px 0;
  }
}
